$background-color: #eee;
$text-color: #444;

body {
  background-color: $background-color;
  text-color: $text-color;
}

@import 'reset';
@import 'App';
@import 'SearchForm';
@import 'GeocodeResult';
@import 'map';
@import 'HotelsTable';
@import 'HotelsClickableTh';
